# Firebase build files
.firebaserc
.firebase/
.firebase-debug.log
firebase-debug.log
firebase-admin-key.json

# Node modules
node_modules/

# Functions dependencies
functions/node_modules/

# Environment variables or secrets
.env
.env.local
.env.*.local

# Mac OS system files
.DS_Store
